<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-2 footer-grid">
                    <h4>公司</h4>
                    <ul>
                        <li><a th:href="@{/products}" href="products.html">产品</a></li>
                        <li><a href="#">在这里工作</a></li>
                        <li><a href="#">团队</a></li>
                        <li><a href="#">精彩</a></li>
                        <li><a href="#">经销商</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>服务</h4>
                    <ul>
                        <li><a href="#">支持</a></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">保证</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>订单和退货</h4>
                    <ul>
                        <li><a href="#">订单状态</a></li>
                        <li><a href="#">运输政策</a></li>
                        <li><a href="#">退货政策</a></li>
                        <li><a href="#">数字礼品卡</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>法律</h4>
                    <ul>
                        <li><a href="#">隐私</a></li>
                        <li><a href="#">条款和条件</a></li>
                        <li><a href="#">社会责任感</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid icons">
                    <h4>联系我们</h4>
                    <ul>
                        <li><a href="#"><img th:src="@{/page/images/i1.png}" src="../../static/page/images/i1.png" alt=""/>在Facebook上关注我们</a></li>
                        <li><a href="#"><img th:src="@{/page/images/i2.png}" src="../../static/page/images/i2.png" alt=""/>在Twitter上关注我们</a></li>
                        <li><a href="#"><img th:src="@{/page/images/i3.png}" src="../../static/page/images/i3.png" alt=""/>在Google-plus上关注我们</a></li>
                        <li><a href="#"><img th:src="@{/page/images/i4.png}" src="../../static/page/images/i4.png" alt=""/>在Pinterest上关注我们</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//footer-->
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright &copy; 2018.lichang </p>
        </div>
    </div>
</div>
</body>
</html>