<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-2 footer-grid">
                    <h4>company</h4>
                    <ul>
                        <li><a th:href="@{/products}" href="products.html">products</a></li>
                        <li><a href="#">Work Here</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Happenings</a></li>
                        <li><a href="#">Dealer Locator</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>service</h4>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>order</h4>
                    <ul>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Digital Gift Card</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>legal</h4>
                    <ul>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Social Responsibility</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid icons">
                    <h4>Connect with Us</h4>
                    <ul>
                        <li><a href="#"><img th:src="@{/page/images/i1.png}" src="../../static/page/images/i1.png" alt=""/>Follow us on Facebook</a></li>
                        <li><a href="#"><img th:src="@{/page/images/i2.png}" src="../../static/page/images/i2.png" alt=""/>Follow us on Twitter</a></li>
                        <li><a href="#"><img th:src="@{/page/images/i3.png}" src="../../static/page/images/i3.png" alt=""/>Follow us on Google-plus</a></li>
                        <li><a href="#"><img th:src="@{/page/images/i4.png}" src="../../static/page/images/i4.png" alt=""/>Follow us on Pinterest</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//footer-->
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright &copy; 2018.lichang </p>
        </div>
    </div>
</div>
</body>
</html>