<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 <!--title 要显示的标题-->
<div th:fragment="common_css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="brainy"/>
    <meta name="keyword" content="EntTax"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" href="../../static/img/favicon.ico"/>

    <title>豆果DC后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-reset.css}" href="../../static/css/bootstrap-reset.css" rel="stylesheet"/>
    <!-- Custom styles for this template //css 模板样式-->
    <link th:href="@{/css/font-awesome.css}" href="../../static/css/font-awesome.css"
          rel="stylesheet"/>
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet"/>
    <link th:href="@{/css/style-responsive.css}" href="../../static/css/style-responsive.css" rel="stylesheet"/>
</div>
</html>