<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <!-- //Custom Theme files -->
    <link th:href="@{/page/css/bootstrap.css}" href="../../static/page/css/bootstrap.css" type="text/css"
          rel="stylesheet" media="all"/>
    <link th:href="@{/page/css/style.css}" href="../../static/page/css/style.css" type="text/css" rel="stylesheet"
          media="all"/>
    <link th:href="@{/css/xcConfirm.css}" href="../../static/css/xcConfirm.css" rel="stylesheet"/>
    <!-- js -->
    <script th:src="@{/page/js/jquery.min.js}" src="../../static/page/js/jquery.min.js"></script>
    <script th:src="@{/page/js/bootstrap-3.1.1.min.js}" type="text/javascript"
            src="../../static/page/js/bootstrap-3.1.1.min.js"></script>
    <!-- //js -->
    <script th:src="@{/js/jquery.form.js}" src="../../static/js/jquery.form.js"></script>
    <!--script for 提示框-->
    <script th:src="@{/js/xcConfirm.js}" src="../../static/js/xcConfirm.js"></script>
</head>
<body>
<!--header-->
<div th:replace="common/common_head :: head"></div>
<!--//header-->
<!--account-->
<div class="account">
    <div class="container">
        <div class="register">
            <form id="editProfileForm" >
                <div class="register-top-grid">
                    <h3>个人信息</h3>
                    <div class="input">
                        <span>
                            <button class="btn btn-warning btn-lg" onclick="update_Image()">
                             <img th:src="${session.user.image}" width="80" height="80"/>
                           </button>
                        </span>
                    </div>
                    <div class="input">
                        <span>姓名:</span>
                        <input type="text" name="username" th:value="${session.user.username}"/>
                    </div>
                    <div class="input">
                        <span>昵称:</span>
                        <input type="text" name="nickname" th:value="${session.user.nickname}"/>
                    </div>
                    <div class="select">
                        <span>性别:</span>
                        <select name="sex">
                            <option value="man" selected="selected">男</option>
                            <option value="woman">女</option>
                        </select>
                    </div>
                    <div class="select">
                        <span>电话号码:</span>
                        <input type="text" name="mobile" th:value="${session.user.mobile}"/>
                    </div>
                    <div class="input">
                        <span>邮箱<label>*</label></span>
                        <input type="text" name="email" th:value="${session.user.email}"/>
                    </div>
                    <div class="select">
                        <span>注册日期:</span>
                        <input type="text" name="registerTime" th:value="${session.user.registerTime}" readonly/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="register-but">
                    <input type="button" id="editProfile" value="提交修改"/>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--//account-->
<!--footer-->
<div th:replace="common/common_footer :: footer"></div>
<script>
    //添加后台管理员
    $('#editProfile').click(function () {
        $("#editProfileForm").ajaxSubmit({
            url : "/user/editProfile",
            type : "post",
            dataType : 'json',
            success : function(data) {
                window.wxc.xcConfirm(data.message, window.wxc.xcConfirm.typeEnum.info, {
                    onOk: function () {
                    }
                });
            },
            error : function(data) {
                //发送失败
                if (status == "timeout") {
                    $("#message").text("发送超时请重发");
                }
            }
        });
    });
</script>
</body>
</html>