<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indent</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <!-- //Custom Theme files -->
    <link th:href="@{/page/css/bootstrap.css}" href="../../static/page/css/bootstrap.css" type="text/css"
          rel="stylesheet" media="all"/>
    <link th:href="@{/page/css/style.css}" href="../../static/page/css/style.css" type="text/css" rel="stylesheet"
          media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/indent.css}" href="../../static/css/indent.css">
    <link th:href="@{/css/xcConfirm.css}" href="../../static/css/xcConfirm.css" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>

    <script type="text/javascript" th:src="@{/js/distpicker.data.js}" src="../../static/js/distpicker.data.js"></script>
    <script type="text/javascript" th:src="@{/js/distpicker.js}" src="../../static/js/distpicker.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../../static/js/main.js"></script>
    <!--script for 提示框-->
    <script th:src="@{/js/xcConfirm.js}" src="../../static/js/xcConfirm.js"></script>
</head>
<body>
<!--header-->
<div th:replace="common/common_head :: head"></div>
<!--//header-->
<!-- main -->
<div id="indent-main">
    <form th:action="@{/order/createOrder}" action="" id="indent-create" method="post">
        <h3 class="indentHd">填写并核对订单信息</h3>
        <div id="userAddId">
            <p class="indentTitle">收货人信息：</p>
            <ul class="indentAll">
                <li class="indentUser">
                    <div class="label">
                        <b>*</b>
                        收货人:
                    </div>
                    <input type="text" placeholder="请填写收货人姓名" id="IU-name"/>
                    <span class="iuErr">请填写收货人姓名</span>
                </li>
                <li class="indentAddress">
                    <div class="label">
                        <b>*</b>
                        所在地区:
                    </div>
                    <div data-toggle="distpicker">
                        <select data-province="---- 选择省 ----" id="s1"></select>
                        <select data-city="---- 选择市 ----" id="s2"></select>
                        <select data-district="---- 选择区 ----" id="s3"></select>
                    </div>
                </li>
                <li class="fullAddress">
                    <div class="label">
                        <b>*</b>
                        详细地址:
                    </div>
                    <div class="FA-field">
                        <span class="sheng"></span>
                        <span class="shi"></span>
                        <span class="xian"></span>
                        <input type="text" placeholder="请直接填写街道等详细地址" id="IU-address"/>
                    </div>
                    <span class="faErr">请您填写完整的地区信息</span>
                </li>
                <li class="indent-phone">
                    <div class="label">
                        <b>*</b>
                        手机号码:
                    </div>
                    <input type="text" placeholder="11位手机号码" id="IU-phone"/>
                    <span class="ipErr">请您填写手机号码或固定电话</span>
                </li>
            </ul>
            <button type="button" id="save" onclick="saveaddress()">保存收货人信息</button>
            <button type="button" id="close" onclick="closemodel()">关闭</button>
        </div>
        <!-- 订单信息 -->
        <ul class="indentContent">
            <li id="addparent">
                <div class="userInfo">
                    收货人信息:
                    <a href="#" class="amend" id="addAmend" onclick="showAmend()">[新增]</a>
                    <a href="#" class="amend" id="deleteAmend" onclick="deleteaddress()">[删除]</a>
                </div>
                <div class="userAddress" th:each="address,addressStat:${addList}">
                    <input type="radio" th:if="${addressStat.index==0}" checked="checked" th:value="${address.aid}"
                           name="aid" id="aid">
                    <input type="radio" th:if="${addressStat.index!=0}" th:value="${address.aid}"
                           name="aid" id="aid">
                    <span class="f-name" th:text="${address.addName}" id="addName"></span>
                    <span class="f-phone" th:text="${address.phone}">13526547895</span>
                    <span class="f-shi" th:text="${address.detailAddress}"></span>
                </div>
            </li>
            <li>
                <div class="userPrice">
                    支付及配送方式:
                    <a href="#" class="amend">[修改]</a>
                </div>
                <p class="pay">在线支付</p>
                <div class="UP-indent">
                    <p>订单一</p>
                    <div class="shunfeng">
                        <div><span>顺丰速运</span>负责配送</div>
                        <p>下单后尽快为您发货</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="userInfo">
                    发票信息:
                    <a href="#" class="amend">[修改]</a>
                </div>
                <div class="bill">
                    暂不需要发票
                </div>
            </li>
            <li>
                <div class="userInfo">
                    商品信息:
                    <a href="#" class="amend">[修改]</a>
                </div>
                <a th:href="@{/cart/myCart}" href="cart.html" class="goto-cart">返回购物车</a>
                <p>商品下单后尽快为您发货</p>
                <!-- 购物车详情 -->
                <div>
                    <div class="ci-title">
                        <input type="checkbox" value="" checked="checked" disabled="disabled">
                        <div class="ci-name">商品名称</div>
                        <div>单价</div>
                        <div>返现</div>
                        <div>库存状态</div>
                        <div>数量</div>
                        <div>小计</div>
                    </div>
                </div>
                <!-- 复制 -->
                <div th:each="cart,cartinfoStat:${list}">
                    <div class="ci-title">
                        <input type="checkbox" name="cid" th:value="${cart.cid}" checked="checked"
                               readonly="readonly">
                        <div class="ci-name" th:text="${cart.pname}">商品名称</div>
                        <div th:text="${cart.price}">单价</div>
                        <div>0.00</div>
                        <div>有库存</div>
                        <div th:text="${cart.num}">0</div>
                        <div th:text="${cart.totalPrice}">0.00</div>
                    </div>
                </div>
            </li>
            <li class="last-li">
                <div class="account">应付金额:<span id="gross" th:text="${moneys}"></span></div>
                &nbsp;&nbsp;
                <button type="submit" id="sumbit">提交订单</button>
            </li>
        </ul>
    </form>
</div>
<!--footer-->
<div th:replace="common/common_footer :: footer"></div>
<script type="text/javascript">
    function showAmend() {
        $("#userAddId").show();
        $(".zhezhao").show();
    }
    function saveaddress() {
        //Ajax 添加 新地址
        $.ajax({
            url: "/address/addAddress",
            type: "POST",
            async: false,
            data: {
                addName: $("#IU-name").val(),
                phone: $("#IU-phone").val(),
                detailAddress: $("#IU-address").val(),
                address: $("#s1").val() + " " + $("#s2").val() + " " + $("#s3").val()
            },
            timeout: 30000,
            dataType: "json",
            success: function (data) {
                window.wxc.xcConfirm(data.message, window.wxc.xcConfirm.typeEnum.info, {
                    onOk: function () {
                        if (data.status == 1) {
                            location.reload();
                        }
                    }
                });
            },
            complete: function (XMLHttpREquest, status) {
                //发送失败
                if (status == "timeout") {
                    alert("添加超时请重新添加！");
                }
            }
        });
    }

    function deleteaddress() {
        var group = $("#aid").val();
        var txt = "您确定要删除收货人地址" + $("#addName").html()+ "？";
        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm, {
            onOk: function () {
                $.get("/address/deleteAddress", {aid: group}, function (data) {
                    if(data.status==1){
                        location.reload();
                    }else {
                        window.wxc.xcConfirm(data.message, window.wxc.xcConfirm.typeEnum.info, {
                            onOk: function () {
                            }
                        });
                    }
                });
            }
        });
    }


    function closemodel() {

        $("#userAddId").hide();
        $(".zhezhao").hide();
    }

    var data = {
        addid: "1234565",
        addname: "sun",
        addphone: "13166956701",
        address: "lala"
    }

    function addAddress(data) {

        var parent = document.getElementById("addparent");

        var ch_div = document.createElement('div');

        ch_div.setAttribute("class", "userAddress");

        var ch_input = document.createElement('input');
        ch_input.type = "radio";
        ch_input.value = data.addid;
        ch_input.name = "addid";

        var ch_name = document.createElement('span');
        ch_name.setAttribute("class", "f-name");
        ch_name.innerHTML = data.addname;

        var ch_phone = document.createElement('span');
        ch_phone.setAttribute("class", "f-phone");
        ch_phone.innerHTML = data.addphone;

        var ch_address = document.createElement('span');
        ch_address.setAttribute("class", 'f-shi');
        ch_address.innerHTML = data.address;

        ch_div.appendChild(ch_input);
        ch_div.appendChild(ch_name);
        ch_div.appendChild(ch_phone);
        ch_div.appendChild(ch_address);

        parent.appendChild(ch_div);
    }
</script>
</body>
</html>