<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link th:href="@{/page/css/bootstrap.css}" href="../../static/page/css/bootstrap.css" type="text/css"
          rel="stylesheet" media="all"/>
    <link th:href="@{/page/css/style.css}" href="../../static/page/css/style.css" type="text/css" rel="stylesheet"
          media="all"/>

    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">
    <!-- js -->
    <script th:src="@{/page/js/jquery.min.js}" src="../../static/page/js/jquery.min.js"></script>
    <script th:src="@{/page/js/bootstrap-3.1.1.min.js}" type="text/javascript"
            src="../../static/page/js/bootstrap-3.1.1.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script th:src="@{/page/js/simpleCart.min.js}" src="../../static/page/js/simpleCart.min.js"></script>
    <!-- cart -->
</head>
<body>
<!--header-->
<div th:replace="common/common_head :: head"></div>
<!--//header-->
<!--account-->
<section id="container" class="">


    <!--main content start 主要内容部分-->

    <section id="main-content">
        <section class="wrapper">
            <!--page start-->
            <div id="bill_list" class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <!--头部 位置显示栏-->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">
                                修改信息
                            </h4>
                        </div>
                        <!--头部 位置显示栏结束-->
                    </div>

                    <!--左侧信息设置-->
                    <aside class="profile-nav col-lg-3">
                        <section class="panel">
                            <div class="user-heading round">
                                <a href="#" data-toggle="modal"
                                   data-target="#cropAvatar">
                                    <img th:src="${session.user.image}"
                                         src="http://www.coolbhu.cn/lcyanxi.jpg" id="avatarlg" alt="">
                                </a>
                                <p id="help_avatar" class="help-block">点击更换头像</p>
                                <h1><span th:text="${user.username}"></span></h1>
<!--                                <p th:if="${staff.sMark}==1">账户已激活</p>
                                <p th:if="${staff.sMark}==0">账户未激活</p>-->
                            </div>

                            <ul class="nav nav-pills nav-stacked">
                                <li><a th:href="@{/staff/profile}"> <i class="icon-user"></i>个人信息</a></li>
                                <li class="active"><a> <i class="icon-edit"></i>修改信息</a></li>
                                <li><a th:href="@{/staff/security}"> <i class="icon-warning-sign"></i>安全中心</a></li>
                            </ul>

                        </section>
                    </aside>
                    <!--左侧信息设置 结束-->

                    <!--右侧修改详细信息-->
                    <aside class="profile-info col-lg-9">
                        <section class="panel">
                            <div class="bio-graph-heading">
                                修改个人信息
                            </div>
                            <div class="panel-body bio-graph-info">
                                <h1>修改基本信息</h1>
                                <form class="form-horizontal" role="form" th:action="@{/staff/updateprofile.do}"
                                      method="post" id="profile_edit">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">姓名</label>
                                        <div class="col-lg-6 has-success">
                                            <div class="col-xs-8">
                                                <input type="text" class="form-control" name="sName" id="sname"
                                                       th:value="${user.username}" placeholder="姓名">
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">性别</label>
                                        <div class="col-lg-6">
                                            <div class="row col-xs-8" th:if="${user.sex}==男">
                                                <div class="col-xs-4">
                                                    <input type="radio" name="sSex" checked="checked"
                                                           class="radio-inline"
                                                           value="男">男
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="radio" name="sSex" class="radio-inline" value="女">女
                                                </div>
                                            </div>
                                            <div class="row col-xs-8" th:if="${user.sex}==女">
                                                <div class="col-xs-4">
                                                    <input type="radio" name="sSex" class="radio-inline" value="男">男
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="radio" name="sSex" checked="checked"
                                                           class="radio-inline"
                                                           value="女">女
                                                </div>
                                            </div>
                                        </div>
                                    </div>


<!--                                    <div class="form-group birth">
                                        <label class="col-lg-2 control-label">出生日期</label>

                                        <div class="col-lg-6" th:if="${staff.sBirthday==null}">
                                            <input type="date" name="sBirthday" class="dataTables_info"
                                                   th:value="${null}" value="1994-01-15">
                                        </div>
                                        <div class="col-lg-6" th:if="${staff.sBirthday!=null}">
                                            <input type="date" name="sBirthday" class="dataTables_info"
                                                   th:value="${#dates.format(staff.sBirthday, 'yyyy-MM-dd')}"
                                                   value="1994-01-15">

                                        </div>
                                    </div>-->
<!--                                    <div class="form-group city">
                                        <label class="col-lg-2 control-label">详细地址</label>

                                        <div class="col-lg-6 has-success">
                                            <input type="text" class="form-control" name="sAddress"
                                                   th:value="${staff.sAddress}"
                                                   placeholder="请输入你的详细地址">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>-->


                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-success">保存修改</button>
                                            <button type="button" class="btn btn-default">取消</button>
                                        </div>
                                        <h4 class="help-block text-danger text-center" th:text="${message}"></h4>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </aside>
                    <!--右侧修改详细信息 结束-->

                </div>
            </div>
            <!-- page end-->
        </section>
    </section>

    <!--main content end 主要内容部分结束-->
</section>

<!--//account-->
<!--footer-->
<div th:replace="common/common_footer :: footer"></div>
<script>
    //更新个人信息
    $('#editProfile').click(function () {
        $("#editProfileForm").ajaxSubmit({
            url : "/user/editProfile",
            type : "post",
            dataType : 'json',
            success : function(data) {
                window.wxc.xcConfirm(data.message, window.wxc.xcConfirm.typeEnum.info, {
                    onOk: function () {
                        if (data.status == 1) {
                            location.reload();
                        }
                    }
                });
            },
            error : function(data) {
                //发送失败
                if (status == "timeout") {
                    $("#message").text("发送超时请重发");
                }
            }
        });
    });
</script>
</body>
</html>