<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link th:href="@{/page/css/bootstrap.css}" href="../../static/page/css/bootstrap.css" type="text/css"
          rel="stylesheet" media="all"/>
    <link th:href="@{/page/css/style.css}" href="../../static/page/css/style.css" type="text/css" rel="stylesheet"
          media="all"/>
    <link th:href="@{/page/css/form.css}" href="../../static/page/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/xcConfirm.css}" href="../../static/css/xcConfirm.css" rel="stylesheet"/>
    <!-- js -->
    <script th:src="@{/page/js/jquery.min.js}" src="../../static/page/js/jquery.min.js"></script>
    <script th:src="@{/page/js/bootstrap-3.1.1.min.js}" type="text/javascript" src="../../static/page/js/bootstrap-3.1.1.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script th:src="@{/page/js/simpleCart.min.js}" src="../../static/page/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- the jScrollPane script -->
    <script th:src="@{/page/js/jquery.jscrollpane.min.js}" type="text/javascript"
            src="../../static/page/js/jquery.jscrollpane.min.js"></script>
    <!--script for 提示框-->
    <script th:src="@{/js/xcConfirm.js}" src="../../static/js/xcConfirm.js"></script>
    <!-- //the jScrollPane script -->
    <script th:src="@{/page/js/jquery.mousewheel.js}" type="text/javascript" src="../../static/page/js/jquery.mousewheel.js"></script>
</head>
<body>
<!--header-->
<div th:replace="common/common_head :: head"></div>
<!--//header-->
<!--products-->
<div id="car-main">
    <br/>
    <!-- 购物车 -->
    <form id="fm_cart">
        <!--page_start 主要内容部分-->
        <section id="main-content">
            <section class="wrapper">
                <!--page start-->
                <div id="bill_list" class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <!--头部 位置显示栏-->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">
                                    我的订单中心
                                </h4>
                            </div>
                            <!--头部 位置显示栏结束-->

                            <table class="table table-striped border-top" id="sample_1">
                                <!--头部显示所包含的内容-->
                                <thead>
                                <tr>
                                    <th>商品</th>
                                    <th>订单号</th>
                                    <th>数量</th>
                                    <th>创建时间</th>
                                    <th>收货人</th>
                                    <th>金额</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <!--头部显示所包含的内容 结束-->

                                <!--显示每个订单的详细信息-->
                                <tbody id="tbody">
                                <tr class="odd gradeX" th:each="orderInfo,iterStat:${list}">


                                    <td>
                                    <span th:each="proImgInfo,itemStat:${orderInfo.products}">
                                        <span><img th:src="${proImgInfo.image}" width="50" height="50"></span>
                                    </span>
                                    </td>

                                    <th th:text="${orderInfo.oid}"></th>
                                    <th>
                                        <span th:each="proImgInfo,itemStat:${orderInfo.products}">
                                        <p><span th:text="${proImgInfo.pname}"></span>x<span
                                                th:text="${proImgInfo.num}"></span></p>
                                       </span>
                                    </th>
                                    <td th:text="${orderInfo.createTime}"></td>
                                    <td th:text="${orderInfo.addName}"></td>
                                    <td th:text="${orderInfo.totalPrice}"></td>
                                    <td>
                                        <span th:if="${orderInfo.paymak==1}">已付款</span>
                                        <span th:if="${orderInfo.paymak==0}">待付款</span>
                                    </td>
                                    <td>

                                    <span th:if="${orderInfo.paymak==0}">
                                           <button class="btn btn-success btn-sm" onclick="payment(this)"
                                                   th:id="${orderInfo.oid}">
                                        <i class="icon-bar "></i>立即付款</button>
                                    </span>
                                        <button class="btn btn-danger btn-sm" onclick="deleteOrder(this)"
                                                th:id="${orderInfo.oid}">
                                        <i class="icon-trash "></i>删除</button>
                                    </td>
                                </tr>
                                </tbody>
                                <!--显示每个订单的详细信息 结束-->
                            </table>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
    </form>
    <!-- 复制 -->
</div>
<!--//products-->
<!--footer-->
<div th:replace="common/common_footer :: footer"></div>
<script type="text/javascript">
    function payment(obj) {
        var oid = $(obj).attr("id");
        $.get("/order/toPayment", {oid: oid}, function (data) {
            if (data.status==1){
                alert(data.message);
                window.location.reload()
            }else {
                alert(data.message)
            }

        });
    }


    function deleteOrder(obj) {
        var oid = $(obj).attr("id");
        $.ajax({
            url: "/order/deleteOrder",
            type: "GET",
            async: false,
            data: {
                oid: oid
            },
            timeout: 30000,       //超时时间
            dataType: "json",     //返回的数据类型
            success: function (data) {
                if (data.status==1){
                    alert(data.message);
                    window.location.reload()
                }else {
                    alert(data.message)
                }
            },
            complete: function (XMLHttpRequest, status) {
                //发送失败
                if (status == "timeout") {
                    $("#message").text("发送超时请重发");
                }
            }
        });
    }


</script>
</body>
</html>