<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<div th:fragment="head">
    <section id="container" class="">
        <!--header start 头部导航栏-->
        <header class="header white-bg">
            <!--左侧标题-->
            <div class="sidebar-toggle-box">
                <div data-original-title="导航栏" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo">乐高糕点网后台<span>管理系统</span></a>
            <!--logo end-->

            <!--首页通知和模板下载-->
            <!--通知下载结束-->

            <!--右侧部分-->
            <div class="top-nav ">
                <!--search & user info start 右部搜索-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start 个人信息等(在头像按钮下)-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              <img alt="" th:src="@{/img/avatar.jpg}"  width="35" height="35" src="../static/img/avatar.jpg"/>
                              <span class="username">lichang</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a th:href="@{/staff/profile}" href="staff/profile.html"><i class="icon-user"></i>个人资料</a>
                            </li>
                            <li><a th:href="@{/staff/security}" href="staff/security.html"><i class="icon-warning-sign"></i>安全中心</a>
                            </li>
                            <li><a th:href="@{/staff/message}" href="#"><i class="icon-bell-alt"></i>消息通知</a></li>
                            <li><a th:href="@{/staff/logout}" href="#"><i class="icon-signout"></i>退出登录</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
            <!--右侧部分结束-->
        </header>
        <!--header end 头部导航栏结束-->

        <!--sidebar start 左侧导航栏-->
        <aside>
            <div id="sidebar" class="pre-scrollable">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li>
                        <a class="" th:href="@{/index}" href="index.html">
                            <i class="icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="home.html" class="" th:href="@{/home}">
                            <i class="icon-edit-sign"></i>
                            <span>用户管理</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="manage_product.html" class="" th:href="@{/product/toManageProduct}">
                            <i class="icon-edit-sign"></i>
                            <span>商品管理</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="manage_order.html" class="" th:href="@{/order/toOrderManage}">
                            <i class="icon-edit-sign"></i>
                            <span>订单处理中心</span>
                        </a>
                    </li>
                    <li>
                        <a class="" th:href="@{/index}" href="index.html">
                            <i class="icon-home"></i>
                            <span>关于我们</span>
                        </a>
                    </li>
                    <li>
                        <a class="" th:href="@{/index}" href="index.html">
                            <i class="icon-home"></i>
                            <span>关于系统</span>
                        </a>
                    </li>
                    <li>
                        <a class="" th:href="@{/index}" href="index.html">
                            <i class="icon-home"></i>
                            <span>系统日志</span>
                        </a>
                    </li>

                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end 左侧导航栏结束-->
    </section>
</div>
</body>
</html>
